.menu {
  background-color: #14274E;
  color: #F1F6F9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 1em;
  position: absolute;
  bottom: 0;
  list-style: none;
}

.menuItem {
  padding: 1em;
  text-decoration: none;
  color: white;
}