.preferences {
    display: flex;
    flex-wrap: wrap;
}

.preferencesNone {
    display: none;
}

.preferencesTop {
    display: flex;
    overflow: unset;
}

.preferencesBottom {
    display: flex;
    margin-top: 8vh;
}

.preferencesTop2 {
    display: flex;
    margin-top: 8vh;
}

.homeLine {
    margin-top: 8vh;
}

.homeTitle {
    font: 4vh 'Montserrat Bold';
    color: #F1F6F9;
    margin-left: 6.5vw;
    margin-top: 8vh;
}
