:root {
  --page-title-color: green;
}

.layout {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/background-image.png');
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}