.littlePlayer {
    background-color: rgba(20, 39, 78, 0.9);
    width: 100vw;
    height: calc(6vh + 2em);
    z-index: 100;
    position: fixed;
    z-index: 100;
    bottom: calc(6vh + 2em);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playerCover {
    width: 15vw;
    height: 15vw;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0.75;
}

.playerInfos {
    width: 30vw;
    height: 15vw;
    font-family: 'Montserrat Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.playerInfos p {
    text-decoration: underline rgba(20, 39, 78, 0.9);
}

.playerSettings {
    width: 45vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.otherButtons {
    height: 3vh;
}

.playButton {
    height: 5vh;
}

.playerSettings button {
    background-color: transparent;
    border: none;
}

.playerSettings button:focus {
    outline: none;
}

.playerSettings button img {
    height: 4vh;
}