.isLikedTrue {
    background-color: #F1F6F9;
    color: #14274E;
    border: none;
    width: 70vw;
    border-radius: 14px;
    padding: 0px;
    height: 5vh;
    margin-top: 2.5vh;
    font: 2vh "Lato";
    transition: 0.3s;
}

.isLikedFalse {
    background-color: #14274E;
    color: #F1F6F9;
    border: 3px solid  #F1F6F9;
    width: 70vw;
    border-radius: 14px;
    margin-top: 2.5vh;
    padding: 0px;
    height: 5vh;
    font: 2vh "Lato";
    transition: 0.3s;
}

.isLikedFalse, .isLikedTrue {
    outline: none;
}